.container
    .row
        .col-md-8.vis
        .col-md-4
            .row
                button(type="button").btn.btn-default.set-data Set data
            .row
                button(type="button").btn.btn-default.edit Edit
            .row
                button(type="button").btn.btn-default.export Export
