include ../mixins/modal.jade

.jumbotron
    h1 Sitar Visualization Gallery

    p.
      Explore your visualization powers and see what others have
      done.  Create, share, and collaborate at the click of your
      mouse.

    div
        form
            .row
                span.col-md-offset-4.col-md-4
                    label(for="username").sr-only
                    input(type="username" id="username" placeholder="Username/email address").form-control

            .row
                span.col-md-offset-4.col-md-4
                    label(for="password").sr-only
                    input(type="password" id="password" placeholder="Password").form-control

            .row
                span.col-md-offset-4.col-md-2
                    button(type="submit").btn.btn-lg.btn-info.btn-block Log in
                span.col-md-2
                    button(type="button" data-toggle="modal" data-target="#register-dialog").btn.btn-lg.btn-info.btn-block.register Register

    p.
        If you just want to take a look around you can also #[a(href="/#browse") browse anonymously].

    .alert.alert-info.text-center(class=jumpback ? "" : "hidden")#jumpback.
        After login, you will be returned to the page you came here from.  Enjoy!

    .alert.alert-danger.text-center.hidden#failed.
        Username or password incorrect.

    p.footer.
         Powered by
         #[a(href="http://idl.cs.washington.edu/projects/lyra/") Lyra],
         #[a(href="http://tangelo.kitware.com") Tangelo],
         and #[a(href="https://github.com/girder/girder") Girder]

+modal("Welcome!", "Cancel", "OK")(id="register-dialog")
    p Register a Sitar account by providing the information in the following fields.
    form
        .container-fluid
            .row
                #r-username.col-md-offset-2.col-md-8.transient
                    label(for="r-username").sr-only
                    input(type="username" placeholder="Username").form-control
            .row
                #r-email.col-md-offset-2.col-md-8.transient
                    label(for="r-email").sr-only
                    input(type="email" placeholder="Email address").form-control
            .row
                #r-firstname.col-md-offset-2.col-md-8.transient
                    label(for="r-firstname").sr-only
                    input(type="text" placeholder="First name").form-control
            .row
                #r-lastname.col-md-offset-2.col-md-8.transient
                    label(for="r-lastname").sr-only
                    input(type="text" placeholder="Last name").form-control
            .row
                #r-password.col-md-offset-2.col-md-8.transient
                    label(for="r-password").sr-only
                    input(type="password" placeholder="Password").form-control
            .row
                #r-password2.col-md-offset-2.col-md-8.transient
                    label(for="r-password2").sr-only
                    input(type="password" placeholder="Repeat password").form-control
            .row
                .col-md-12
                    #validation.alert.alert-danger.hidden
