nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="https://github.com/XDATA-Year-2/sitar" target="_blank") Sitar
        .collapse.navbar-collapse
            if name
                ul.nav.navbar-nav
                    li: a(href="#gallery") My Visualizations
            ul.nav.navbar-nav
                li: a(href="#browse") Browse
            ul.nav.navbar-nav.navbar-right
                if name
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                            | #[span #{name}] #[span.caret]
                        ul.dropdown-menu(role="menu")
                            li
                                a.virtual-link.logout Logout
                else
                    li: a.login.virtual-link Login
