.wizard
    ul.steps
        li.active(data-step="1") Select Data #[span.chevron]
        li(data-step="2") Choose a Name #[span.chevron]
        li(data-step="3") Edit #[span.chevron]
    .actions
        button(type="button").btn.btn-default.btn-prev.
            #[span.glyphicon.glyphicon-arrow-left] Prev
        button(type="button").btn.btn-default.btn-next.
            #[span.glyphicon.glyphicon-arrow-right] Next
    .step-content
        .step-pane.active.sample-pane(data-step="1")
            h2 Select a data set to bind to the new visualization
            select.dataset

            h2 Or upload a new data file

            .container
                .row
                    label(for="filesel").btn.btn-primary Select File
                        input#filesel(type="file" style="display: none;")
                    span#filename
                    span &nbsp;
                        a#remove.virtual-link.small.hidden (remove)

        .step-pane.sample-pane(data-step="2")
            h2 Choose a name and description for the new visualization

            .row
                span.col-md-4
                    input(type="text" placeholder="Name").form-control.vis-name
            .row
                span.col-md-4
                    textarea(placeholder="Description" rows="4").form-control.vis-description

        .step-pane.sample-pane(data-step="3")
            h2 Edit Visualization with Lyra

            p| We are just about ready - if you are satisfied with your data, name,
             | and description choices, you can go ahead and edit your new
             | visualization.

            p| Click on "OK" above to launch
             |  #[a(href="http://idl.cs.washington.edu/projects/lyra/") Lyra].
             | You will see your data displayed alongside an empty canvas, where you can
             | create the visualization you want for your data.  Click
             | the "finished editing" button on the bottom of the screen to
             | to come back to Sitar, which will upload and save your new creation.
