doctype html
html
    head
        title Sitar - Home

        link(rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css")
        link(rel="stylesheet" href="index.css")

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")

        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        script(src="http://underscorejs.org/underscore-min.js")
        script(src="http://backbonejs.org/backbone-min.js")

        script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")

        script(src="http://trifacta.github.io/vega/vega.min.js")

        script(src="js/lib.min.js")
        script(src="js/index.min.js")

    body
        nav.navbar.navbar-default#navbar
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Sitar
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                                | #[span#name] #[span.caret]
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#")#logout Logout

        .container
            #welcome.hidden
            #gallery.hidden
            #itemview.hidden
