doctype html
html
    head
        title Sitar - Home

        link(rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css")
        link(rel="stylesheet" href="index.css")

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")

        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        script(src="http://underscorejs.org/underscore-min.js")
        script(src="http://backbonejs.org/backbone-min.js")

        script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")

        script(src="http://trifacta.github.io/vega/vega.min.js")

        script(src="js/lib.min.js")
        script(src="js/index.min.js")

    body
        nav.navbar.navbar-default#navbar
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Sitar
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")
                                | #[span#name] #[span.caret]
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#")#logout Logout

        .container
            #welcome.hidden
                .jumbotron
                    h1 Sitar Visualization Gallery

                    p.
                      Explore your visualization powers and see what others have
                      done.  Create, share, and collaborate at the click of your
                      mouse.

                    div
                        form#login
                            .row
                                span.col-md-offset-4.col-md-4
                                    label(for="username").sr-only
                                    input(type="username" id="username" placeholder="Username/email address").form-control

                            .row
                                span.col-md-offset-4.col-md-4
                                    label(for="password").sr-only
                                    input(type="password" id="password" placeholder="Password").form-control

                            .row
                                span.col-md-offset-4.col-md-2
                                    button(type="submit").btn.btn-lg.btn-info.btn-block Log in
                                span.col-md-2
                                    button(disabled)#register.btn.btn-lg.btn-info.btn-block Register

                    .alert.alert-info.hidden#jumpback.
                        You must be logged in to visit that page.  Please log in and we will return you there.

                    .alert.alert-danger.hidden#failed.
                        Username or password incorrect.

                    p.footer.
                         Powered by
                         #[a(href="http://idl.cs.washington.edu/projects/lyra/") Lyra],
                         #[a(href="http://tangelo.kitware.com") Tangelo],
                         and #[a(href="https://github.com/girder/girder") Girder]


            #gallery.hidden
            #itemview.hidden
