doctype html
html
    head
        title Sitar - Home

        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
        link(rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css")
        link(rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.5.0/css/fuelux.min.css")
        link(rel="stylesheet" href="index.css")

        script(src="http://code.jquery.com/jquery-1.11.1.min.js")

        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")

        script(src="//www.fuelcdn.com/fuelux/3.5.0/js/fuelux.min.js")

        script(src="http://underscorejs.org/underscore-min.js")
        script(src="http://backbonejs.org/backbone-min.js")

        script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")

        script(src="http://trifacta.github.io/vega/vega.min.js")

        script(src="js/lib.min.js")
        script(src="js/index.min.js")

    body.fuelux
        #navbar
        .container#content
